# Module 3: Data Structures Assignments
## Lesson 3.2: Tuples
### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

#### Assignment 1

In [1]:
tpl = tuple(range(1,11))
print(tpl)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

#### Assignment 2

In [5]:
print(tpl[0])
print(tpl[:len(tpl)//2])
print(tpl[len(tpl)-1])

1
(1, 2, 3, 4, 5)
10

#### Assignment 3

In [8]:
print(tpl[:3])
print(tpl[-3:])
print(tpl[2:6])

(1, 2, 3)
(8, 9, 10)
(3, 4, 5, 6)

#### Assignment 4

In [9]:
matrix = (
    (1, 2, 3),
    (4, 5, 6),
    (7, 8, 9)
)
print(matrix)
print(matrix[1][2])

((1, 2, 3), (4, 5, 6), (7, 8, 9))
6

#### Assignment 5

In [10]:
tpl1 = (1, 2, 3)
tpl2 = (4, 5, 6)
concat = tpl1 + tpl2
print(concat)

(1, 2, 3, 4, 5, 6)

#### Assignment 6

In [13]:
a = (1, 2, 3, 3, 4, 2, 6, 6, 8)
print(a.count(2))
print(a.index(2))

2
1

#### Assignment 7

In [14]:
tpl = (1, 2, 3, 4, 5)
a, b, c, d, e = tpl
print(a, b, c, d, e)

1 2 3 4 5

#### Assignment 8

In [16]:
lst = list(range(1,6))
print(lst)
tpl = tuple(lst)
print(tpl)

[1, 2, 3, 4, 5]
(1, 2, 3, 4, 5)

#### Assignment 9

In [15]:
tpl_tpl = (
    (1, 2, 3),
    (4, 5, 6),
    (7, 8, 9)
)
print(tpl_tpl)

((1, 2, 3), (4, 5, 6), (7, 8, 9))

#### Assignment 10

In [18]:
tpl = tuple(range(1, 6))
print(tpl)
lst = list(tpl)
lst.append(6)
print(tuple(lst))

(1, 2, 3, 4, 5)
(1, 2, 3, 4, 5, 6)

#### Assignment 11

In [20]:
string = "Taneesha"
str_tuple = tuple(string)
print(str_tuple)
single_str = "".join(str_tuple)
print(single_str)

('T', 'a', 'n', 'e', 'e', 's', 'h', 'a')
Taneesha

#### Assignment 12

In [21]:
dict_1 = {
    (1, 2): 10,
    (2, 3): 20,
    (3, 4): 30
}
print(dict_1)

{(1, 2): 10, (2, 3): 20, (3, 4): 30}

#### Assignment 13

In [23]:
nested_tpl = (
    (1, 2, 3),
    (4, 5, 6),
    (7, 8, 9)
)

for row in nested_tpl:
    for element in row:
        print(element, end=" ")
    print("")

1 2 3
4 5 6
7 8 9

#### Assignment 14

In [24]:
tpl = (1, 3, 5, 6, 3, 5, 6, 4)
print(tpl)
st = set(tpl)
print(st)

(1, 3, 5, 6, 3, 5, 6, 4)
{1, 3, 4, 5, 6}

#### Assignment 15

In [25]:
def maximum(tpl):
    return max(tpl)

def minimum(tpl):
    return min(tpl)

def summation(tpl):
    return sum(tpl)

tpl1 = (1, 2, 3, 4, 5)
print(maximum(tpl1))
print(minimum(tpl1))
print(summation(tpl1))

5
1
15