# Module 3: Data Structures Assignments
## Lesson 3.1: Lists
### Assignment 1: Creating and Accessing Lists

Create a list of the first 20 positive integers. Print the list.

### Assignment 2: Accessing List Elements

Print the first, middle, and last elements of the list created in Assignment 1.

### Assignment 3: List Slicing

Print the first five elements, the last five elements, and the elements from index 5 to 15 of the list created in Assignment 1.

### Assignment 4: List Comprehensions

Create a new list containing the squares of the first 10 positive integers using a list comprehension. Print the new list.

### Assignment 5: Filtering Lists

Create a new list containing only the even numbers from the list created in Assignment 1 using a list comprehension. Print the new list.

### Assignment 6: List Methods

Create a list of random numbers and sort it in ascending and descending order. Remove the duplicates from the list and print the modified list.

### Assignment 7: Nested Lists

Create a nested list representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

### Assignment 8: List of Dictionaries

Create a list of dictionaries where each dictionary represents a student with keys 'name' and 'score'. Sort the list of dictionaries by the 'score' in descending order and print the sorted list.

### Assignment 9: Matrix Transposition

Write a function that takes a 3x3 matrix (nested list) as input and returns its transpose. Print the original and transposed matrices.

### Assignment 10: Flattening a Nested List

Write a function that takes a nested list and flattens it into a single list. Print the original and flattened lists.

### Assignment 11: List Manipulation

Create a list of the first 10 positive integers. Remove the elements at indices 2, 4, and 6, and insert the element '99' at index 5. Print the modified list.

### Assignment 12: List Zipping

Create two lists of the same length. Use the `zip` function to combine these lists into a list of tuples and print the result.

### Assignment 13: List Reversal

Write a function that takes a list and returns a new list with the elements in reverse order. Print the original and reversed lists.

### Assignment 14: List Rotation

Write a function that rotates a list by n positions. Print the original and rotated lists.

### Assignment 15: List Intersection

Write a function that takes two lists and returns a new list containing only the elements that are present in both lists. Print the intersected list.

#### Assignment 1

In [2]:
num_list = list(range(1,21))
print(num_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

#### Assignment 2

In [4]:
print(num_list[0])
print(num_list[len(num_list)-1])
print(num_list[len(num_list)//2])

1
20
11

#### Assignment 3

In [6]:
print(num_list[:5])
print(num_list[15:])  ## print(num_list[-5:])
print(num_list[5:16])

[1, 2, 3, 4, 5]
[16, 17, 18, 19, 20]
[6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]

#### Assignment 4

In [7]:
square_nums = [num**2 for num in range(1,11)]
print(square_nums)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

#### Assignment 5

In [8]:
even_square_nums = [num for num in square_nums if num%2 == 0]
print(even_square_nums)

[4, 16, 36, 64, 100]

#### Assignment 6

In [9]:
import random

random_nums = [random.randint(1,21) for i in range(10)]
print(random_nums)

[4, 8, 19, 6, 21, 12, 3, 10, 9, 3]

In [10]:
random_nums.sort()
print(random_nums)

[3, 3, 4, 6, 8, 9, 10, 12, 19, 21]

In [11]:
random_nums.reverse()
print(random_nums)

[21, 19, 12, 10, 9, 8, 6, 4, 3, 3]

In [12]:
ls = (list(set(random_nums)))
print(ls)

[3, 4, 6, 8, 9, 10, 12, 19, 21]

#### Assignment 7

In [13]:
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]
print(matrix)
print(matrix[1][2])

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
6

#### Assignment 8

In [14]:
students = [
    {"name":"Taneesha", "score":24},
    {"name":"Sethmina", "score":56},
    {"name":"Hemantha", "score":50}
]
print(students)

[{'name': 'Taneesha', 'score': 24}, {'name': 'Sethmina', 'score': 56}, {'name': 'Hemantha', 'score': 50}]

In [15]:
sorted_students = sorted(students, key= lambda x: x["score"], reverse=True)
for students in sorted_students:
    print(students)

{'name': 'Sethmina', 'score': 56}
{'name': 'Hemantha', 'score': 50}
{'name': 'Taneesha', 'score': 24}

#### Assignment 9

In [23]:
def transpose_matrix(matrix):
    transpose = [[matrix[j][i] for j in range(len(matrix))] for i in range(len(matrix[0]))]
    return transpose
tp = transpose_matrix(matrix)
for row in tp:
    print(row)

[1, 4, 7]
[2, 5, 8]
[3, 6, 9]

#### Assignment 10

In [24]:
def flatten_list(nested_list):
    return [nested_list[i][j] for i in range(len(nested_list)) for j in range(len(nested_list[0]))]
print(flatten_list(matrix))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [25]:
def flatten_list(nested_list):
    flat_list = [item for sublist in nested_list for item in sublist]
    return flat_list
print(flatten_list(matrix))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

#### Assignment 11

In [29]:
lst = list(range(1,11))
print(lst)
del lst[2]
del lst[4]
del lst[6]
print(lst)
lst.insert(5, 99)
print(lst)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 4, 5, 7, 8, 10]
[1, 2, 4, 5, 7, 99, 8, 10]

#### Assignment 12

In [30]:
lst1 = ['a', 'b', 'c', 'd']
lst2 = ['A', 'B', 'C', 'D']
zipped = list(zip(lst1, lst2))
print(zipped)

[('a', 'A'), ('b', 'B'), ('c', 'C'), ('d', 'D')]

#### Assignment 13

In [31]:
def reverse_list(list):
    return list[::-1]

lst = ['a', 'e', 'i', 'o', 'u']
print(lst)
print(reverse_list(lst))

['a', 'e', 'i', 'o', 'u']
['u', 'o', 'i', 'e', 'a']

#### Assignment 14

In [32]:
def rotate(lst, n):
    return lst[n:] + lst[:n]
print(lst)
print(rotate(lst, 2))

['a', 'e', 'i', 'o', 'u']
['i', 'o', 'u', 'a', 'e']

#### Assignment 15

In [34]:
def intersection(list1, list2):
    return [item1 for item1 in list1 if item1 in list2]
lst1 = [1, 2, 3, 4, 5 ,6 ,7 ,8, 9]
lst2 = [2, 4, 6, 8]
print(intersection(lst1, lst2))

[2, 4, 6, 8]