# Lesson 1.2: Python Basics
## Topics Covered:
- Syntax and Semantics
- Variables and Data Types
- Basic Operators (Arithmetic, Comparison, Logical)

## 1. Syntax and Semantics

**Question 1:** Write a Python program to print "Hello, World!".

In [ ]:
# Your code here
print("Hello, World!")

Hello, World!

**Question 2:** Write a Python program that takes a user input and prints it.

In [ ]:
# Your code here
user_input = input("Enter a message: ")
print("You entered:", user_input)

Enter a message: Hello
You entered: Hello

**Question 3:** Write a Python program to check if a number is positive, negative, or zero.

In [ ]:
# Your code here
user_input = input("Enter a message: ")
num = int(user_input)
if num > 0:
  print("The number is positive.")
elif num < 0:
  print("The number is negative.")
else:
  print("The number is zero.")

Enter a message: -45
The number is negative.

**Question 4:** Write a Python program to find the largest of three numbers.

In [ ]:
# Your code here
user_input_1 = float(input("Enter the first number: "))
user_input_2 = float(input("Enter the second number: "))
user_input_3 = float(input("Enter the third number: "))
if user_input_1 >= user_input_2 and user_input_1 >= user_input_3:
  largest_number = user_input_1
elif user_input_2 >= user_input_1 and user_input_2 >= user_input_3:
  largest_number = user_input_2
else:
  largest_number = user_input_3
print("The largest number is:", largest_number)

Enter the first number: 34
Enter the second number: 45
Enter the third number: 09
The largest number is: 45.0

**Question 5:** Write a Python program to calculate the factorial of a number.

In [ ]:
# Your code here
def factorial(n):
  if n==0:
    return 1
  else:
    return n * factorial(n-1)
print(factorial(5))

120

## 2. Variables and Data Types

**Question 6:** Create variables of different data types: integer, float, string, and boolean. Print their values and types.

In [ ]:
# Your code here
int_var = 24
float_var = 98.56
str_var = "Taneesha"
bool_var = False
print(int_var, type(int_var))
print(float_var, type(float_var))
print(str_var, type(str_var))
print(bool_var, type(bool_var))

24 <class 'int'>
98.56 <class 'float'>
Taneesha <class 'str'>
False <class 'bool'>

**Question 7:** Write a Python program to swap the values of two variables.

In [ ]:
# Your code here
int_var = 24
float_var = 98.56
temp = int_var
int_var = float_var
float_var = temp
print(int_var, float_var)

98.56 24

**Question 8:** Write a Python program to convert Celsius to Fahrenheit.

In [ ]:
# Your code here
temp_c = input("Enter the temperature in Celsius: ")
temp_c = float(temp_c)
temp_f = (temp_c * 9/5) + 32
print("The temperature in Fahrenheit is:", temp_f)

Enter the temperature in Celsius: 34
The temperature in Fahrenheit is: 93.2

**Question 9:** Write a Python program to concatenate two strings.

In [ ]:
# Your code here
str_1 = "Hello, "
str_2 = "World!"
print(str_1 + str_2)

Hello, World!

**Question 10:** Write a Python program to check if a variable is of a specific data type.

In [ ]:
# Your code here
def check_data_type(var, type):
  if isinstance(var, type):
    return True
  else:
    return False
int_var = 24
print(check_data_type(int_var, int))

True

## 3. Basic Operators (Arithmetic, Comparison, Logical)

**Question 11:** Write a Python program to perform arithmetic operations: addition, subtraction, multiplication, and division.

In [ ]:
# Your code here
num_1 = 10
num_2 = 20
print(num_1 + num_2)
print(num_1 - num_2)
print(num_1 * num_2)
print(num_1 / num_2)

30
-10
200
0.5

**Question 12:** Write a Python program to demonstrate comparison operators: equal to, not equal to, greater than, less than.

In [ ]:
# Your code here
num1 = 10
num2 = 20
print(num1 == num2)
print(num1 != num2)
print(num1 > num2)
print(num1 < num2)

False
True
False
True

**Question 13:** Write a Python program to demonstrate logical operators: and, or, not.

In [ ]:
# Your code here
var1 = True
var2 = False
print(var1 and var2)
print(var1 or var2)
print(not var1)

False
True
False

**Question 14:** Write a Python program to calculate the square of a number.

In [ ]:
# Your code here
num = float(input("Enter a number: "))
print("The square of the number is:", num**2)

Enter a number: 23
The square of the number is: 529.0

**Question 15:** Write a Python program to check if a number is even or odd.

In [ ]:
# Your code here
num = float(input("Enter a number: "))
if num % 2 == 0:
  print("The number is even.")
else:
  print("The number is odd.")

Enter a number: 23
The number is odd.

**Question 16:** Write a Python program to find the sum of the first n natural numbers.

In [ ]:
# Your code here
num = int(input("Enter a number: "))
sum = 0
for i in range(1, num+1):
  sum += i
print("The sum of the first", num, "natural numbers is:", sum)

Enter a number: 5
The sum of the first 5 natural numbers is: 15

**Question 17:** Write a Python program to check if a year is a leap year.

In [ ]:
# Your code here
year = int(input("Enter a year: "))
if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
    print("leap year")
else:
    print("not a leap year")

Enter a year: 4567
not a leap year

**Question 18:** Write a Python program to reverse a string.

In [ ]:
# Your code here
string = str(input("Enter a string: "))
print(string[::-1])

Enter a string: hello
olleh

**Question 19:** Write a Python program to check if a string is a palindrome.

In [ ]:
# Your code here
string = str(input("Enter a string: "))
if string == string[::-1]:
  print("a palindrome")
else:
  print("not a palindrome")

Enter a string: strts
a palindrome

**Question 20:** Write a Python program to sort a list of numbers in ascending order.

In [ ]:
# Your code here